extends ../../../layouts/account

block head
  title #{leave.startDate}至#{leave.endDate}的请假条

block body
  div.row
    div.col-sm-8
        div.page-header
            h3 #{leave.creator.name}申请的#{leave.startDate}至#{leave.endDate}
            case leave.type
                when "nian"
                    span.bg-success 休假 请假条
                when "ti"
                    span.bg-info 替班 请假条
                when "huan"
                    span.bg-warning 换班 请假条
        h4.text-center.bg-primary 请假信息
        p.lead 申请人： #{leave.creator.name}
        p.lead 申请人岗位： #{leave.creator.position}
        p.lead 请假理由: #{leave.general}
        p.lead 去向: #{leave.destination}
        p.lead 开始时间：#{leave.startDate}
        p.lead 结束时间：#{leave.endDate}
        hr
        h4.text-center.bg-warning 上班调整信息
        if leave.respondent.username
            p.lead 替换班人：#{leave.respondent.name}
            p.lead 岗位： #{leave.respondent.position}
        if leave.applicantWorkDay.date
            p.lead 替换班日期：#{leave.applicantWorkDay.date}
            p.lead 替换班类型：#{leave.applicantWorkDay.type}
        if leave.respondentWorkDay.date
            p.lead 还班日期：#{leave.respondentWorkDay.date}
            p.lead 还班类型：#{leave.respondentWorkDay.type}
        if leave.nianWorkDay
            p.lead 涉及的班次：#{leave.nianWorkDay}
        hr
        h4.text-center.bg-success 审批进度
        if leave.applicantSupervisor.username
            p 申请人主管：#{leave.applicantSupervisor.name}
            div.col-sm-4
                case leave.applicantSupervisor.result
                    when "notYet"
                        span.text-muted 未送审
                    when "proposing"
                        span.label.label-warning 审批中
                    when "pass"
                        span.label.label-success 通过
                    when "reject"
                        span.label.label-danger 驳回
            div.col-sm-4
                p #{leave.applicantSupervisor.comment}
            hr
        if leave.respondentSupervisor.username
            p 替换班人主管：#{leave.respondentSupervisor.name}
            div.col-sm-4
                case leave.respondentSupervisor.result
                    when "notYet"
                        span.text-muted 未送审
                    when "proposing"
                        span.label.label-warning 审批中
                    when "pass"
                        span.label.label-success 通过
                    when "reject"
                        span.label.label-danger 驳回
            div.col-sm-4
                p #{leave.respondentSupervisor.comment}
            hr
        if leave.manager.username
            p 基地经理：#{leave.manager.name}
            div.col-sm-4
                case leave.manager.result
                    when "notYet"
                        span.text-muted 未送审
                    when "proposing"
                        span.label.label-warning 审批中
                    when "pass"
                        span.label.label-success 通过
                    when "reject"
                        span.label.label-danger 驳回
            div.col-sm-4
                p #{leave.manager.comment}
            hr
        p
            a.btn.btn-default.btn-block(href='/account/leave/')
                i.fa.fa-arrow-circle-left
                |   退回请假单列表
    div.col-sm-4
        div.page-header
            h1 请假条操作
        case leave.status
            when "passed"
                p 已通过，不能修改或删除
            when "finished"
                p 已销假，不能修改或删除
            when "denied"
                p 审批被驳回,请查看原因，重新提交申请
            default
                form(method='post', action='/account/leave/detail/edit/#{leave._id}/')
                    div.form-group
                        button.btn.btn-default.btn-signup.btn-block(type='submit' disabled) 编辑（暂未开放）
                form(method='post', action='/account/leave/detail/delete/#{leave._id}/')
                    button.btn.btn-danger.btn-block(type="button" data-toggle="modal" data-target="#myModal") 删除请假条
                    div.modal.fade(id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title(id="myModalLabel") 确定删除请假条
                                div.modal-body
                                    p 确定删除请假条？删除后不可恢复
                                div.modal-footer
                                    div.form-group
                                        button.btn.btn-danger(type='submit') 删除请假单
                                        button.btn.btn-default(data-dismiss="modal") 关闭
                    hr
        case leave.status
            when "draft"
                form(method='post', action='/account/leave/detail/proposeIt/#{leave._id}/')
                    button.btn.btn-warning.btn-block(type="button" data-toggle="modal" data-target="#myPropose") 提交请假条
                    div.modal.fade(id="myPropose" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title(id="myModalLabel") 确定提交请假条
                                div.modal-body
                                    p 确定提交请假条？提交后不可收回
                                div.modal-footer
                                    div.form-group
                                        button.btn.btn-warning(type='submit') 提交请假单
                                        button.btn.btn-default(data-dismiss="modal") 关闭
            when "proposing"
                form(method='post', action='/account/leave/detail/WechatIt/#{leave._id}/')
                    div.form-group
                        button.btn.btn-success.btn-signup.btn-block(type='submit') 微信再次催促
            when "passed"
                form(method='post', action='/account/leave/detail/finishIt/#{leave._id}/')
                    button.btn.btn-info.btn-block(type="button" data-toggle="modal" data-target="#myFinish") 销假结束
                    div.modal.fade(id="myFinish" tabindex="-1" role="dialog" aria-labelledby="myModalLabel")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    button.close(type="button" class="close" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                    h4.modal-title(id="myModalLabel") 销假结束
                                div.modal-body
                                    p 确定销假结束？请结束休假且已回北京后提交
                                div.modal-footer
                                    div.form-group
                                        button.btn.btn-info(type='submit') 销假结束
                                        button.btn.btn-default(data-dismiss="modal") 关闭