h3 欢迎注册 #{projectName}
p 欢迎注册，你的帐号已经注册成功，以下是你的账户信息：
table(border='1', cellpadding='5', cellspacing='0')
  tr
    td 员工号:
    td #{username}
  tr
    td email:
    td #{email}
  tr
    td 这里登录:
    td #{loginURL}
p
  | 谢谢,
  br
  | #{projectName}
